.container_input{
    width: 447px;
    height: 36px;
    margin-bottom: 16px;
    gap:8px;
    position:relative;
}

.text_color{
    color: #64748B;
}

.btn_arrow{
    overflow: visible;
    position: absolute;
    right: 20px;
    top: 32px;
}